/_build
/blib
/Build
/cover_db
/Debian_CPANTS.txt
/foo/
/Makefile
/meta/
*.old
/META.json
/META.yml
/MYMETA.json
/MYMETA.yml
/nytprof
/nytprof.out
/pm_to_blib
/ref
*.swp
/TODO
/xt/author/optionals/
/PPIx-QuoteLike*
